.w-50 {
    width: 50%;
}

.vh-100 {
    height: 100vh;
}

.h-100 {
    height: 100%;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.p {
    padding: 1rem;
}

.p-1 {
    padding: 0.75rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.p-4 {
    padding: 4rem;
}

.p-5 {
    padding: 5rem;
}

.pl-2 {
    padding-left: 2rem;
}

.pl-3 {
    padding-left: 3rem;
}

.bg-secondary {
    background-color: $bg-secondary;
}

.text-primary {
    color: $primary;
}

.text-muted {
    color: $muted;
}

@for $i from 1 to 6 {
    .mt-#{$i} {
        margin-top: #{$i}rem;
    }
}

@for $i from 1 to 6 {
    .pt-#{$i} {
        padding-top: #{$i}rem;
    }
}

@for $i from 1 to 6 {
    .mb-#{$i} {
        margin-bottom: #{$i}rem;
    }
}

@media (max-width: 576px) {
    .flex-sm-column {
        flex-direction: column;
    }
}